@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;

}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
nav h1{
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
.ligne{
     height: 5px;
     width: 100%;
     background-color: #6f6f6f;
     margin-top: 20px;

}
@media screen and (max-width:680px) {
    nav .onglets{
        margin-left: 1px;
        margin-bottom: 10px;
    }
}

